.heroPanel {
	width: 100px; 
	height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.heroName {
	margin: 0;
	position: relative;
	top: 50%;
}
